<IfModule mod_rewrite.c>
  Redirect 404 /test-htaccess
  RewriteEngine On
  RewriteBase /deploy-test/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteCond %{REQUEST_FILENAME} -l
  RewriteRule ^ - [L]

  RewriteRule ^(.*)$ /index.html [L]
</IfModule>