@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #d8e0e6;
  @apply m-0 font-roboto text-neutral-200;
}

h1 {
  @apply mb-4 text-3xl leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-neutral-300;
}

p {
  @apply text-base pt-2;
}

main {
  @apply max-w-5xl my-12 mx-auto px-0;
}

img {
  @apply flex flex-1 w-auto h-auto object-contain;
}

.navbar {
  @apply w-full h-20 top-0 bg-gray-900 text-white
  flex px-2 items-center z-20;
}

.navbar-title {
  @apply flex justify-start text-xl md:text-2xl lg:text-3xl font-semibold font-sans text-gray-200 px-3 mx-2;
}

.navbar-link:hover {
  background-color: #c1d959;
  @apply text-gray-800;
}

.nav-container {
  @apply fixed left-0 right-0 shadow-2xl top-[4.5em] p-4 pt-2 bg-gray-900 border-b z-20;
}

.nav-link {
  @apply flex items-center justify-between w-full p-3.5 rounded-xl z-10;
}

.nav-links {
  @apply w-full p-[0.08rem] rounded-xl hover:text-lime-300 hover:bg-gray-800;
}

footer {
  @apply fixed 
bg-slate-400
  bottom-0 w-full 
  z-20 p-2;
}

.footer-container,
.footer-span {
  @apply text-xl mx-auto ml-2 p-2 lg:py-2 max-w-screen-xl md:flex md:items-center md:justify-between font-semibold;
}

.page-container {
  @apply flex flex-col md:flex-row md:px-5 py-24 md:py-[5em] lg:py-[10em] md:m-0 place-items-center md:justify-center;
}

/*  Home Page  */
.home-container {
  @apply bg-white rounded-lg mt-5 p-5;
}

.home-content {
  @apply grid gap-4 justify-start;
}

.hero-one {
	@apply md:absolute md:h-full md:w-auto md:max-w-none md:right-6
}

.hero-two {
	@apply md:absolute md:h-full md:w-auto md:max-w-none md:left-6;
}

.page-heading {
  @apply flex justify-center text-slate-500 text-7xl mt-5 mx-auto font-helvetica rounded-md italic;
}


.ics-box-heading {
	@apply text-sm lg:text-lg text-black inline-flex border border-[#222]/10 px-3 py-1 lg:py-2 rounded-lg tracking-tight
}

.intro-text {
	@apply text-xl lg:text-2xl text-[#010D3E] tracking-tight mt-6 font-sans pr-24
}

.capstone-subheading {
	@apply text-[#001E80] text-2xl md:text-3xl font-bold tracking-tighter;
}

.scroll-container {
	@apply md:pt-4 w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]
}

.buttons {
  @apply flex justify-start pt-3 mx-auto;
}

.button-default {
  border-radius: 30px;
  @apply text-xl text-white shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 px-6 py-2 ease-linear transition-all duration-150 bg-slate-950 cursor-pointer 
	border-none font-roboto;
}

.button-default:hover {
  background-color: #aabb5c;
}

.button-group {
  @apply text-lg p-1 text-black shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150 bg-transparent
  border border-slate-950 rounded-s-lg hover:bg-[#c1d959] cursor-pointer font-roboto;
}

.scroll-banner {
	@apply flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll
}

/* Teams Page & Cards */
.team-heading {
  @apply text-slate-500 text-[5em] font-helvetica rounded-md italic mx-auto md:my-8;
}

.teams-container {
  @apply container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:grid-rows-2 lg:gap-5 md:gap-2;  
}

.team-card-container {
  @apply grid bg-opacity-85 bg-gray-50 gap-1 grid-cols-2 lg:grid-rows-4 lg:gap-4 place-items-center rounded-md border-8 aspect-square md:m-2 md:p-4 pb-4 px-2 md:mt-4 md:pb-0 lg:p-8;
}

.team-card-heading {
  @apply text-slate-500 text-[1.75em] lg:text-[2em] font-semibold font-roboto mt-5 mx-auto md:ml-1 md:mt-2 lg:mt-10 lg:-ml-0 text-nowrap;
}

.card-section {
  @apply relative flex flex-col justify-end
  overflow-hidden p-4;
}

.arrow-icon {
  @apply text-lg text-slate-400 hover:text-slate-200 m-2 visible;
}

.arrow-button {
  @apply w-[4em] h-[4rem] md:h-[4.25em] md:w-[4.25em] xl:h-[5em] xl:w-[5em] 
	border-2 place-items-center text-slate-950 rounded-full transition-colors ease-in-out hover:bg-blue-950
hover:border-slate-200 cursor-pointer mb-4 mr-3 lg:mt-4;
}

.project-modal {
  @apply flex md:overflow-x-hidden overflow-y-auto justify-center items-center fixed inset-0 z-50 outline-none focus:outline-none;
}

.project-modal-container {
  @apply bg-slate-900 flex flex-col border-0 rounded-lg shadow-lg relative w-full outline-none focus:outline-none px-5 lg:px-16 lg:pt-2;
}

.modal-close-button {
  @apply bg-transparent border-0 float-right leading-none font-semibold outline-none focus:outline-none p-2 md:p-10 ml-auto md:mt-7;
}

.modal-close {
  @apply bg-transparent text-white h-12 w-12 md:h-16 md:w-16 text-2xl block outline-none;
}

.team-logo {
  @apply flex h-[20em] w-[20em] md:h-[25em] md:w-[25em] object-contain mt-10 md:my-[3em];
}

.modal-team-heading {
  @apply text-3xl md:text-[3.75em] font-semibold text-center mt-3 md:py-3;
}

.modal-sponsor-heading {
  @apply text-3xl md:text-4xl md:font-semibold py-1 my-3 md:my-4 md:py-2 md:mt-3 text-slate-200;
}

.modal-heading {
  @apply text-3xl md:text-4xl px-5 pt-2 mt-4 md:pt-10 md:mt-5 lg:mt-2 md:my-1 font-bold text-slate-200;
}

.modal-student-name {
  @apply text-3xl md:text-4xl mt-2 mb-1 md:my-4 md:mt-8 md:mb-5 font-semibold text-slate-200 justify-start px-5 mx-auto;
}

.modal-student-role {
  @apply text-2xl md:text-3xl text-slate-300 px-5 mx-auto pb-5;
}

.modal-student-bio-text {
  @apply font-sans text-[1.25em] md:text-[2em] lg:text-[2em] leading-8 md:leading-10 text-gray-200 my-4 md:mt-12 px-5;
}

.modal-text {
  @apply font-sans text-gray-200 text-[1.5em] md:text-[2em] leading-8 md:leading-10 md:text-justify px-5 pb-12 my-5 md:[word-spacing:-3px] lg:[word-spacing:-3px];
}

.team-member-info {
  @apply mx-auto mt-5 text-center;
}

.team-grid {
  @apply gap-3 place-items-center;
}

/* Registration Page */
.reg-heading {
  @apply m-4 mb-10 md:mt-4 text-slate-500 text-[5em] font-helvetica rounded-md mx-auto italic;
  
}

.reg-container {
  @apply md:mx-[4em] md:mt-[1.25em];
}


.sponsor-heading {
  @apply text-xl md:text-xl lg:text-3xl sm:text-xl px-5;
}


@media (min-width: 640px) {
  main {
    @apply px-8;
  }

  .heading-content {
    @apply flex-row justify-between items-center;
  }

  /* Teams Page */
  .team-grid {
    @apply grid-cols-2;
  }
}

@media (max-width: 768px) {
  .buttons {
    @apply flex flex-wrap items-start justify-start pt-3;
  }

  .reg-container {
    @apply flex flex-col;
  }
}

@media (min-width: 1024px) {
  .team-grid {
    @apply grid-cols-3;
  }
}
